<%- include('partials/header') %>
   
<%- include('partials/navbar') %>

    <h1>Links</h1>

    <div id="links">
        <ul>
            <li>
              <a href="/number">Number</a>
            </li>
            <li>
              <a href="/search">Pesquisar</a>
            </li>
            <li>
              <a href="/temper">Temperatura</a>
            </li>
            <li>
              <a href="/produto">Produtos</a>
            </li>
            <li>
              <a href="/subreddit">Subreddit</a>
            </li>
        </ul>
    </div>

<%- include('partials/footer') %>