<%- include('partials/header') %>
   
<%- include('partials/navbar') %>

    <h1>Numero</h1>

    <% if(num%2 == 0) { %>
        <h2>Par</h2>
    <% } else { %>
        <h2>Impar</h2>
    <% } %>

    <a href="/number" >Recarregar</a>

<%- include('partials/footer') %>