<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>The Game Tool</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
</head>
<body>

<header>

    <menu>
        <item>
            <a href="./character/">Personagens</a>
        </item>
        <item>Locais</item>
        <item>Episódios</item>
    </menu>

</header>

<div>

    <h1>The Game Tool </h1>

    <p>
        Bem vindo ao projeto didático para desenvolvimento
        de aplicações web utilizando o framework flask junto
        a ferramento ORM SQLAlchemy.
    </p>

</div>


<footer>
    <p>{{ now }}</p>
</footer>

</body>
</html>