<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h2>Comentário de <%= usuario %> </h2>

<form action="/comentario/<%=id%>?_method=PATCH" 
    method="POST">
    
    <textarea rows="10" cols="10" name="comentario">
        <%= comentario %> 
    </textarea>
    <br>
    <button>Salvar</button>
</form>
<a href="/comentario">Voltar</a>

    
</body>
</html>