<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Comentários</h1>
    <ul>
        <% for( let c of comentarios ) { %>
            <li>
                <%=c.comment%> - <b><%=c.username%></b>
                <a href="/comentarios/<%=c.id%>">Detalhes</a>
            </li>
        <% } %>
    </ul>

    <a href="/comentarios/novo">Novo comentário</a>
    <a href="/usuarios/logoff">Logoff</a>
</body>
</html>