<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Faça um novo comentário</h1>
    <form action='/comentarios' method='POST'>
        <section>
            <label>Digite o nome do usuário: </label>
            <input type="text" id='nomeUsuario' placeholder="Digite o nome do usuário" name='username'>
        </section>

        <section>
            <label>Comentário: </label>
            <br>
            <textarea id="comment" cols='30' rows='5' name='comment'></textarea>
        </section>
        <button>Enviar</button>
    </form>    
</body>
</html>